<a href="https://colab.research.google.com/github/Nanthu2207/Car_Price_Prediction/blob/main/Cleaning_and_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Cleaning_and_preprocessing**

In [212]:
import pandas as pd

In [213]:
df=pd.read_csv("/content/car_details.csv",engine='python')
df

,Unnamed: 0,it,ft,bt,km,transmission,ownerNo,owner,oem,model,...,Gear_Box,Seating_Capacity,Steering_Type,Front_Brake_Type,Rear_Brake_Type,Tyre_Type,Alloy_Wheel_Size,No_Door_Numbers,0,City
0,0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,...,5 Speed,5.0,Power,Ventilated Disc,Drum,"Tubeless, Radial",NaN,5.0,https://www.cardekho.com/used-car-details/used...,Bangalore
1,1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,...,5 Speed,5.0,Power,Ventilated Disc,Drum,"Tubeless,Radial",16,4.0,https://www.cardekho.com/buy-used-car-details/...,Bangalore
2,2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,...,5 Speed,5.0,Power,Disc,Drum,Tubeless,14,5.0,https://www.cardekho.com/used-car-details/used...,Bangalore
3,3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,...,5 Speed,5.0,Power,Disc,Drum,"Tubeless,Radial",14,4.0,https://www.cardekho.com/buy-used-car-details/...,Bangalore
4,4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,...,5 Speed,5.0,Power,Ventilated Disc,Solid Disc,"Tubeless,Radial",16,5.0,https://www.cardekho.com/used-car-details/used...,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,8364,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Mahindra,Mahindra XUV500,...,6 Speed,7.0,Power,Disc & Caliper Type,Disc & Caliper Type,"Tubeless,Radial",17,5.0,https://www.cardekho.com/used-car-details/used...,Hyderabad
8365,8365,0,Diesel,Sedan,"50,000",Automatic,1,1st Owner,Jaguar,Jaguar XF,...,8 Speed,5.0,Power,Disc,Disc,"Tubeless,Radial",20,4.0,https://www.cardekho.com/used-car-details/used...,Hyderabad
8366,8366,0,Diesel,Sedan,"1,20,000",Automatic,3,3rd Owner,BMW,BMW 5 Series,...,8-Speed Steptronic,5.0,Power,Ventilated Disc,Ventilated Disc,"Tubeless, Runflat",R18,4.0,https://www.cardekho.com/used-car-details/used...,Hyderabad
8367,8367,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Tata,Tata Nexon,...,6 Speed,5.0,Power,Disc,Drum,Tubeless Radial Tyres,NaN,5.0,https://www.cardekho.com/used-car-details/used...,Hyderabad
8368,8368,0,Diesel,MUV,"1,00,000",Manual,1,1st Owner,Toyota,Toyota Innova,...,5 Speed,7.0,Power,Ventilated Disc,Drum,"Tubeless,Radial",15,5.0,https://www.cardekho.com/used-car-details/used...,Hyderabad

In [214]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 71 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           8369 non-null   int64
 1   it                   8369 non-null   int64
 2   ft                   8369 non-null   object
 3   bt                   8365 non-null   object
 4   km                   8369 non-null   object
 5   transmission         8369 non-null   object
 6   ownerNo              8369 non-null   int64
 7   owner                8369 non-null   object
 8   oem                  8369 non-null   object
 9   model                8369 non-null   object
 10  modelYear            8369 non-null   int64
 11  centralVariantId     8369 non-null   int64
 12  variantName          8369 non-null   object
 13  price                8369 non-null   object
 14  priceActual          1670 non-null   object
 15  priceSaving          0 non-null      float64
 16  priceFixedText       0 non-null      float64
 17  trending_imgUrl      8369 non-null   object
 18  trending_heading     8369 non-null   object
 19  trending_desc        8369 non-null   object
 20  heading              8369 non-null   object
 21  bottomData           0 non-null      float64
 22  Registration_Year    8317 non-null   object
 23  Insurance_Validity   8365 non-null   object
 24  Fuel_Type            8369 non-null   object
 25  Seats                8363 non-null   object
 26  Kms_Driven           8367 non-null   object
 27  RTO                  7475 non-null   object
 28  Ownership            8337 non-null   object
 29  Engine Displacement  8365 non-null   object
 30  Transmission         8369 non-null   object
 31  Year_of_Manufacture  8349 non-null   float64
 32  top                  8304 non-null   object
 33  comfort              8304 non-null   object
 34  interior             8296 non-null   object
 35  exterior             8284 non-null   object
 36  safety               8264 non-null   object
 37  entertainment        7271 non-null   object
 38  commonIcon           8369 non-null   object
 39  heading.1            8369 non-null   object
 40  commonIcon.1         0 non-null      float64
 41  Mileage              8082 non-null   object
 42  Engine               8365 non-null   object
 43  Max_Power            8309 non-null   object
 44  Torque               8309 non-null   object
 45  Wheel_Size           5386 non-null   object
 46  Seats.1              8363 non-null   float64
 47  Color                8366 non-null   object
 48  Engine_Type          8074 non-null   object
 49  Displacement         8365 non-null   float64
 50  Max_Torque           8309 non-null   object
 51  No_of_Cylinder       8338 non-null   float64
 52  Values_per_Cylinder  8318 non-null   float64
 53  Value_Configuration  6153 non-null   object
 54  Fuel_Supply_System   0 non-null      float64
 55  Turbo_Charger        7329 non-null   object
 56  Length               8290 non-null   object
 57  Width                8286 non-null   object
 58  Height               8290 non-null   object
 59  Wheel_Base           8206 non-null   object
 60  Kerb_Weight          8310 non-null   object
 61  Gear_Box             8263 non-null   object
 62  Seating_Capacity     8363 non-null   float64
 63  Steering_Type        8114 non-null   object
 64  Front_Brake_Type     8273 non-null   object
 65  Rear_Brake_Type      8273 non-null   object
 66  Tyre_Type            8292 non-null   object
 67  Alloy_Wheel_Size     5386 non-null   object
 68  No_Door_Numbers      8358 non-null   float64
 69  0                    8369 non-null   object
 70  City                 8369 non-null   object
dtypes: float64(12), int64(5), object(54)
memory usage: 4.5+ MB

In [215]:
df.isnull().sum()

Unnamed: 0             0
it                     0
ft                     0
bt                     4
km                     0
                    ...
Tyre_Type             77
Alloy_Wheel_Size    2983
No_Door_Numbers       11
0                      0
City                   0
Length: 71, dtype: int64

In [216]:
df['it'].unique()

array([0])

In [217]:
df2=df.drop(columns=['Unnamed: 0','it','priceSaving','priceActual','priceFixedText','heading','bottomData','commonIcon.1','Fuel_Supply_System','heading.1','Seats.1','trending_desc','trending_imgUrl','trending_heading','Year_of_Manufacture','Kms_Driven','ownerNo','owner','ft','transmission','Displacement','Engine','Seating_Capacity','Alloy_Wheel_Size','Wheel_Size','Value_Configuration','entertainment','Torque'])

In [218]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 43 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bt                   8365 non-null   object
 1   km                   8369 non-null   object
 2   oem                  8369 non-null   object
 3   model                8369 non-null   object
 4   modelYear            8369 non-null   int64
 5   centralVariantId     8369 non-null   int64
 6   variantName          8369 non-null   object
 7   price                8369 non-null   object
 8   Registration_Year    8317 non-null   object
 9   Insurance_Validity   8365 non-null   object
 10  Fuel_Type            8369 non-null   object
 11  Seats                8363 non-null   object
 12  RTO                  7475 non-null   object
 13  Ownership            8337 non-null   object
 14  Engine Displacement  8365 non-null   object
 15  Transmission         8369 non-null   object
 16  top                  8304 non-null   object
 17  comfort              8304 non-null   object
 18  interior             8296 non-null   object
 19  exterior             8284 non-null   object
 20  safety               8264 non-null   object
 21  commonIcon           8369 non-null   object
 22  Mileage              8082 non-null   object
 23  Max_Power            8309 non-null   object
 24  Color                8366 non-null   object
 25  Engine_Type          8074 non-null   object
 26  Max_Torque           8309 non-null   object
 27  No_of_Cylinder       8338 non-null   float64
 28  Values_per_Cylinder  8318 non-null   float64
 29  Turbo_Charger        7329 non-null   object
 30  Length               8290 non-null   object
 31  Width                8286 non-null   object
 32  Height               8290 non-null   object
 33  Wheel_Base           8206 non-null   object
 34  Kerb_Weight          8310 non-null   object
 35  Gear_Box             8263 non-null   object
 36  Steering_Type        8114 non-null   object
 37  Front_Brake_Type     8273 non-null   object
 38  Rear_Brake_Type      8273 non-null   object
 39  Tyre_Type            8292 non-null   object
 40  No_Door_Numbers      8358 non-null   float64
 41  0                    8369 non-null   object
 42  City                 8369 non-null   object
dtypes: float64(3), int64(2), object(38)
memory usage: 2.7+ MB

In [219]:
df2.Seats.mode()

0    5 Seats
Name: Seats, dtype: object

In [ ]:
temp=5
df2.Seats.fillna(temp,inplace=True)

In [221]:
df2['Seats'].head()

0    5 Seats
1    5 Seats
2    5 Seats
3    5 Seats
4    5 Seats
Name: Seats, dtype: object

In [222]:
df2.bt.mode()

0    Hatchback
Name: bt, dtype: object

In [ ]:
temp='Hatchback'
df2.bt.fillna(temp,inplace=True)

In [224]:
df2['km']=df2['km'].str.replace(",","").astype(int)

In [225]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 43 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bt                   8369 non-null   object
 1   km                   8369 non-null   int64
 2   oem                  8369 non-null   object
 3   model                8369 non-null   object
 4   modelYear            8369 non-null   int64
 5   centralVariantId     8369 non-null   int64
 6   variantName          8369 non-null   object
 7   price                8369 non-null   object
 8   Registration_Year    8317 non-null   object
 9   Insurance_Validity   8365 non-null   object
 10  Fuel_Type            8369 non-null   object
 11  Seats                8369 non-null   object
 12  RTO                  7475 non-null   object
 13  Ownership            8337 non-null   object
 14  Engine Displacement  8365 non-null   object
 15  Transmission         8369 non-null   object
 16  top                  8304 non-null   object
 17  comfort              8304 non-null   object
 18  interior             8296 non-null   object
 19  exterior             8284 non-null   object
 20  safety               8264 non-null   object
 21  commonIcon           8369 non-null   object
 22  Mileage              8082 non-null   object
 23  Max_Power            8309 non-null   object
 24  Color                8366 non-null   object
 25  Engine_Type          8074 non-null   object
 26  Max_Torque           8309 non-null   object
 27  No_of_Cylinder       8338 non-null   float64
 28  Values_per_Cylinder  8318 non-null   float64
 29  Turbo_Charger        7329 non-null   object
 30  Length               8290 non-null   object
 31  Width                8286 non-null   object
 32  Height               8290 non-null   object
 33  Wheel_Base           8206 non-null   object
 34  Kerb_Weight          8310 non-null   object
 35  Gear_Box             8263 non-null   object
 36  Steering_Type        8114 non-null   object
 37  Front_Brake_Type     8273 non-null   object
 38  Rear_Brake_Type      8273 non-null   object
 39  Tyre_Type            8292 non-null   object
 40  No_Door_Numbers      8358 non-null   float64
 41  0                    8369 non-null   object
 42  City                 8369 non-null   object
dtypes: float64(3), int64(3), object(37)
memory usage: 2.7+ MB

In [226]:
df2['price']=df2['price'].str.replace("₹","")

In [227]:

# Define a function to clean and convert the price
def convert_price(price):
    if isinstance(price, str): #check the price is string

        # Convert 'Lakh' and 'Crore' to their respective values
        if 'Lakh' in price:
            price = float(price.replace('Lakh', '').strip()) * 100000
        elif 'Crore' in price:
            price = float(price.replace('Crore', '').strip()) * 10000000
        else:
            price = float(price.replace(',',''))
    return price

# List of columns to apply the conversion on (price columns)
price = ['price']

# Apply the conversion function to the relevant price columns using applymap
df2['price'] = df2['price'].map(convert_price)

In [228]:
df2['price']

0        400000.0
1        811000.0
2        585000.0
3        462000.0
4        790000.0
          ...
8364     700000.0
8365    2000000.0
8366    3500000.0
8367     850000.0
8368    1500000.0
Name: price, Length: 8369, dtype: float64

In [229]:
df2['Registration_Year']= df2['Registration_Year'].str.replace(r'(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sept|Oct|Nov|Dec)\s', '', regex=True)

In [230]:
df2['Registration_Year'].head()

0    2015
1    2018
2    2018
3    2014
4    2015
Name: Registration_Year, dtype: object

In [231]:
df2.Insurance_Validity.mode()

0    Third Party insurance
Name: Insurance_Validity, dtype: object

In [ ]:
temp='Third Party insurance'
df2.Insurance_Validity.fillna(temp,inplace=True)

In [233]:
df2['Engine Displacement']=df2['Engine Displacement'].str.replace('cc','').astype(float)

In [234]:
df2['Engine Displacement'].mean()

1424.735923490735

In [ ]:
Temp=1424.74
df2['Engine Displacement'].fillna(Temp,inplace=True)

In [236]:
df2['Engine Displacement']=df2['Engine Displacement'].astype(float)

In [237]:
df3=df2.rename(columns={'km':'Kms_Driven','modelYear':'Year_of_Manufacture','0':'Car_link','bt':'Body_type','Engine Displacement':'Engine_Displacement(cc)'})

In [238]:
df5=df3.dropna(subset=['No_of_Cylinder','Engine_Type','Turbo_Charger','Values_per_Cylinder','Front_Brake_Type','Steering_Type','Kerb_Weight','Width','Wheel_Base','safety'])

In [239]:
df5['Tyre_Type'].mode()

0    Tubeless,Radial
Name: Tyre_Type, dtype: object

In [ ]:
temp='Tubeless,Radial'
df5.Tyre_Type.fillna(temp,inplace=True)

In [241]:
df5['Length'].fillna('0')

0       3715mm
1       3998mm
2       3746mm
3       3995mm
4       4300mm
         ...
8364    4585mm
8365    4961mm
8366    4936mm
8367    3994mm
8368    4585mm
Name: Length, Length: 7082, dtype: object

In [ ]:
df5['Length']=df5['Length'].str.replace('mm','').str.replace(',','').astype(float)

In [ ]:
df5['Width']=df5['Width'].str.replace('mm','').str.replace(',','').astype(float)

In [ ]:
df5['Height']=df5['Height'].str.replace('mm','').str.replace(',','').astype(float)

In [245]:
df6=df5.dropna(subset=['Registration_Year'])

In [ ]:
temp='Unknown'
df6.RTO.fillna(temp,inplace=True)

In [247]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7047 entries, 0 to 8368
Data columns (total 43 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Body_type                7047 non-null   object
 1   Kms_Driven               7047 non-null   int64
 2   oem                      7047 non-null   object
 3   model                    7047 non-null   object
 4   Year_of_Manufacture      7047 non-null   int64
 5   centralVariantId         7047 non-null   int64
 6   variantName              7047 non-null   object
 7   price                    7047 non-null   float64
 8   Registration_Year        7047 non-null   object
 9   Insurance_Validity       7047 non-null   object
 10  Fuel_Type                7047 non-null   object
 11  Seats                    7047 non-null   object
 12  RTO                      7047 non-null   object
 13  Ownership                7047 non-null   object
 14  Engine_Displacement(cc)  7047 non-null   float64
 15  Transmission             7047 non-null   object
 16  top                      7047 non-null   object
 17  comfort                  7047 non-null   object
 18  interior                 7047 non-null   object
 19  exterior                 7047 non-null   object
 20  safety                   7047 non-null   object
 21  commonIcon               7047 non-null   object
 22  Mileage                  6856 non-null   object
 23  Max_Power                7047 non-null   object
 24  Color                    7047 non-null   object
 25  Engine_Type              7047 non-null   object
 26  Max_Torque               7047 non-null   object
 27  No_of_Cylinder           7047 non-null   float64
 28  Values_per_Cylinder      7047 non-null   float64
 29  Turbo_Charger            7047 non-null   object
 30  Length                   7047 non-null   float64
 31  Width                    7047 non-null   float64
 32  Height                   7047 non-null   float64
 33  Wheel_Base               7047 non-null   object
 34  Kerb_Weight              7047 non-null   object
 35  Gear_Box                 7047 non-null   object
 36  Steering_Type            7047 non-null   object
 37  Front_Brake_Type         7047 non-null   object
 38  Rear_Brake_Type          7047 non-null   object
 39  Tyre_Type                7047 non-null   object
 40  No_Door_Numbers          7047 non-null   float64
 41  Car_link                 7047 non-null   object
 42  City                     7047 non-null   object
dtypes: float64(8), int64(3), object(32)
memory usage: 2.4+ MB

In [ ]:
temp=df6['comfort'].mode()
df6.comfort.fillna(temp,inplace=True)

In [ ]:
def convert_Mileage(Mileage):
    if isinstance(Mileage, str): #check the price is string

        # Convert 'Lakh' and 'Crore' to their respective values
        if 'km/kg' in Mileage:
            Mileage = float(Mileage.replace('km/kg', '').strip()) * 1.4
        # elif 'Crore' in price:
        #     price = float(price.replace('Crore', '').strip()) * 1
        else:
            Mileage = float(Mileage.replace('kmpl',''))
    return Mileage

# List of columns to apply the conversion on (price columns)
Mileage = ['Mileage']

# Apply the conversion function to the relevant price columns using applymap
df6['Mileage'] = df6['Mileage'].map(convert_Mileage)

In [250]:
df6['Mileage'].mean()

19.159197491248538

In [ ]:
temp=19.16
df6.Mileage.fillna(temp,inplace=True)

In [ ]:
df6['Wheel_Base']=df6['Wheel_Base'].str.replace('mm','').str.replace(',','').str.replace('m','').astype(int)

In [ ]:
import re

# Define a function to clean the weight column
def clean_weight(weight):
    # Remove 'kg', 'kgs', 's', commas, and extra spaces
    weight = re.sub(r'[kKgGs,]', '', weight).strip()

    # Check if the cleaned weight is numeric
    if '-' in weight:
        # If it's a range, split and calculate the average
        low, high = weight.split('-')
        try:
            return (float(low) + float(high)) / 2
        except ValueError:
            return None  # Return None for invalid values
    else:
        try:
            # Try to convert the cleaned value to float
            return float(weight)
        except ValueError:
            return None  # Return None if conversion fails

# Apply the function to the weight column
df6['Kerb_Weight'] = df6['Kerb_Weight'].apply(clean_weight)

# Show the cleaned values

In [254]:
df6['Kerb_Weight'].head()

0     835.0
1    1242.0
2    1012.0
3    1180.0
4    1230.0
Name: Kerb_Weight, dtype: float64

In [255]:
df6['Max_Torque']

0             90Nm@3500rpm
1            150Nm@4500rpm
2            114Nm@3500rpm
3         113.75Nm@4000rpm
4            200Nm@1750rpm
               ...
8364    330Nm@1600-2800rpm
8365         600Nm@2000rpm
8366    400Nm@1750-2500rpm
8367    260Nm@1500-2750rpm
8368    200Nm@1200-3600rpm
Name: Max_Torque, Length: 7047, dtype: object

In [ ]:
df6['Max_Torque']=df6['Max_Torque'].str.replace('at','@')

In [257]:
Max_Torque=df6['Max_Torque'].str.split('@',expand=True)

In [258]:
Max_Torque

             0             1     2
0         90Nm       3500rpm  None
1        150Nm       4500rpm  None
2        114Nm       3500rpm  None
3     113.75Nm       4000rpm  None
4        200Nm       1750rpm  None
...        ...           ...   ...
8364     330Nm  1600-2800rpm  None
8365     600Nm       2000rpm  None
8366     400Nm  1750-2500rpm  None
8367     260Nm  1500-2750rpm  None
8368     200Nm  1200-3600rpm  None

[7047 rows x 3 columns]

In [259]:
Max_Torque[0]=Max_Torque[0].str.replace('Nm','').str.replace('nm','').str.replace('NM','')

In [ ]:
df6['Torque_nm']=Max_Torque[0]
df6['Torque_rpm']=Max_Torque[1]

In [ ]:

# Define a function to clean and convert the price
def convert_Torque_nm(Torque_nm):
    if isinstance(Torque_nm, str): #check the price is string

        # Convert 'Lakh' and 'Crore' to their respective values
        if 'kgm' in Torque_nm:
            Torque_nm = float(Torque_nm.replace('kgm', '').strip()) * 9.8
        elif 'KGM' in Torque_nm:
            Torque_nm = float(Torque_nm.replace('KGM', '').strip()) * 9.8
        elif '(' in Torque_nm:
            Torque_nm = float(Torque_nm.split('(')[1].split(')')[0])
        elif '/' in Torque_nm:
            Torque_nm = float(Torque_nm.split('/')[0].strip())
        else:
            Torque_nm = float(Torque_nm)
    return Torque_nm

# List of columns to apply the conversion on (price columns)
Torque_nm = ['Torque_nm']

# Apply the conversion function to the relevant price columns using applymap
df6['Torque_nm'] = df6['Torque_nm'].map(convert_Torque_nm)

In [262]:
df6['Torque_nm']

0        90.00
1       150.00
2       114.00
3       113.75
4       200.00
         ...
8364    330.00
8365    600.00
8366    400.00
8367    260.00
8368    200.00
Name: Torque_nm, Length: 7047, dtype: float64

In [263]:
df6['Torque_rpm']

0            3500rpm
1            4500rpm
2            3500rpm
3            4000rpm
4            1750rpm
            ...
8364    1600-2800rpm
8365         2000rpm
8366    1750-2500rpm
8367    1500-2750rpm
8368    1200-3600rpm
Name: Torque_rpm, Length: 7047, dtype: object

In [ ]:
df6['Torque_rpm'] =df6['Torque_rpm'].str.replace('rpm', '').str.replace('RPM', '').str.replace(',', '')

In [ ]:

# Define a function to clean and convert the price
def convert_Torque_rpm(Torque_rpm):
    if isinstance(Torque_rpm, str): #check the price is string

        # Convert 'Lakh' and 'Crore' to their respective values

        if '–' in Torque_rpm:
        # If it's a range, split and calculate the average
            low, high = Torque_rpm.split('–')
            try:
               return (float(low) + float(high)) / 2
            except ValueError:
               return None
        elif '-' in Torque_rpm:
        # If it's a range, split and calculate the average
            low, high = Torque_rpm.split('-')
            try:
               return (float(low) + float(high)) / 2
            except ValueError:
               return None
        elif 'â€“' in Torque_rpm:
        # If it's a range, split and calculate the average
            low, high = Torque_rpm.split('â€“')
            try:
               return (float(low) + float(high)) / 2
            except ValueError:
               return None

        # elif ',' in Torque_rpm:
        #     Torque_rpm =float(Torque_rpm.replace(',', '').strip())



        elif '(kgm' in Torque_rpm:
            Torque_rpm = float(Torque_rpm.replace('(kgm', '').strip())
        elif '(Nm' in Torque_rpm:
            Torque_rpm = float(Torque_rpm.replace('(Nm', '').strip())


        # elif 'RPM' in Torque_rpm:
        #     Torque_rpm = float(Torque_rpm.replace('RPM', '').strip())

        else:
            Torque_rpm = float(Torque_rpm)
    return Torque_rpm

# List of columns to apply the conversion on (price columns)
Torque_rpm = ['Torque_rpm']

# Apply the conversion function to the relevant price columns using applymap
df6['Torque_rpm'] = df6['Torque_rpm'].map(convert_Torque_rpm)

In [266]:
df6['Torque_rpm']

0       3500.0
1       4500.0
2       3500.0
3       4000.0
4       1750.0
         ...
8364    2200.0
8365    2000.0
8366    2125.0
8367    2125.0
8368    2400.0
Name: Torque_rpm, Length: 7047, dtype: float64

In [267]:
df6['Max_Power']

0        67.04bhp@6000rpm
1       121.31bhp@6500rpm
2           84bhp@6000rpm
3        81.86bhp@6000rpm
4         88.5bhp@4000rpm
              ...
8364       140bhp@3750rpm
8365     270.9bhp@4000rpm
8366    187.74bhp@4000rpm
8367     108.5bhp@3750rpm
8368     100.6bhp@3600rpm
Name: Max_Power, Length: 7047, dtype: object

In [ ]:
df6['Max_Power']=df6['Max_Power'].str.replace('at','@')

In [269]:
Max_Power=df6['Max_Power'].str.split('@',expand=True)

In [270]:
Max_Power

              0        1     2
0      67.04bhp  6000rpm  None
1     121.31bhp  6500rpm  None
2         84bhp  6000rpm  None
3      81.86bhp  6000rpm  None
4       88.5bhp  4000rpm  None
...         ...      ...   ...
8364     140bhp  3750rpm  None
8365   270.9bhp  4000rpm  None
8366  187.74bhp  4000rpm  None
8367   108.5bhp  3750rpm  None
8368   100.6bhp  3600rpm  None

[7047 rows x 3 columns]

In [ ]:
df6['Power_bhp']=Max_Power[0]
df6['Power_rpm']=Max_Power[1]

In [ ]:
df6['Power_bhp']=df6['Power_bhp'].str.replace('bhp','').str.replace('b','').str.replace('rpm','').str.replace('B','').str.replace('Ps','PS')

In [ ]:

# Define a function to clean and convert the price
def convert_Power_bhp(Power_bhp):
    if isinstance(Power_bhp, str): #check the price is string

        # Convert 'Lakh' and 'Crore' to their respective values
        if 'PS' in Power_bhp:
            Power_bhp = float(Power_bhp.replace('PS', '').strip()) / 1.014
        elif 'ps' in Power_bhp:
            Power_bhp = float(Power_bhp.replace('ps', '').strip()) / 1.014
        elif 'kW' in Power_bhp:
            Power_bhp = float(Power_bhp.replace('kW',''))*1.341


        elif 'hp' in Power_bhp:
            Power_bhp = float(Power_bhp.replace('hp', '').strip()) * 1.01387
        elif 'HP' in Power_bhp:
            Power_bhp = float(Power_bhp.replace('HP', '').strip()) * 1.01387

        elif '(' in Power_bhp:
            Power_bhp = float(Power_bhp.split('(')[0].strip())
        elif '[' in Power_bhp:
            Power_bhp = float(Power_bhp.split('[')[0].strip())
        # elif 'bhp' in Power_bhp:
        #     Power_bhp = float(Power_bhp.replace('bhp',''))

        else:
            Power_bhp = float(Power_bhp)
    return  Power_bhp

# List of columns to apply the conversion on (price columns)
Power_bhp = ['Power_bhp']

# Apply the conversion function to the relevant price columns using applymap
df6['Power_bhp'] = df6['Power_bhp'].map(convert_Power_bhp)

In [274]:
df6['Power_bhp']

0        67.04
1       121.31
2        84.00
3        81.86
4        88.50
         ...
8364    140.00
8365    270.90
8366    187.74
8367    108.50
8368    100.60
Name: Power_bhp, Length: 7047, dtype: float64

In [275]:
df6['Power_rpm']

0       6000rpm
1       6500rpm
2       6000rpm
3       6000rpm
4       4000rpm
         ...
8364    3750rpm
8365    4000rpm
8366    4000rpm
8367    3750rpm
8368    3600rpm
Name: Power_rpm, Length: 7047, dtype: object

In [ ]:
df6['Power_rpm'] =df6['Power_rpm'].str.replace('rpm', '').str.replace('RPM', '').str.replace('(PS', '').str.replace(',', '').str.replace('Ã¢??', '-').str.replace('pm', '')

In [ ]:

# Define a function to clean and convert the price
def convert_Power_rpm(Power_rpm):
    if isinstance(Power_rpm, str): #check the price is string

        # Convert 'Lakh' and 'Crore' to their respective values

        if '–' in Power_rpm:
        # If it's a range, split and calculate the average
            low, high = Power_rpm.split('–')

            try:
               return (float(low) + float(high)) / 2
            except ValueError:
               return None

        elif '-' in Power_rpm:
            # If it's a range, split and calculate the average
            low, high = Power_rpm.split('-')
            try:
               return (float(low) + float(high)) / 2
            except ValueError:
               return None

        elif 'â€“' in Power_rpm:
        # If it's a range, split and calculate the average
            low, high = Power_rpm.split('â€“')
            try:
               return (float(low) + float(high)) / 2
            except ValueError:
               return None

        # elif ',' in Torque_rpm:
        #     Torque_rpm =float(Torque_rpm.replace(',', '').strip())



        # elif '(kgm' in Torque_rpm:
        #     Torque_rpm = float(Torque_rpm.replace('(kgm', '').strip())
        # elif '(Nm' in Torque_rpm:
        #     Torque_rpm = float(Torque_rpm.replace('(Nm', '').strip())


        elif '/' in Power_rpm:
            Power_rpm = float(Power_rpm.split('/')[0].strip())

        else:
            Power_rpm = float(Power_rpm)
    return Power_rpm

# List of columns to apply the conversion on (price columns)
Power_rpm = ['Power_rpm']

# Apply the conversion function to the relevant price columns using applymap
df6['Power_rpm'] = df6['Power_rpm'].map(convert_Power_rpm)

In [ ]:
df6.drop('Max_Power', axis = 1, inplace = True)

In [ ]:
df6.drop('Max_Torque', axis = 1, inplace = True)

In [ ]:
df6['No_Door_Numbers']=df6['No_Door_Numbers'].astype(int)

In [281]:
df6['Front_Brake_Type'].unique()

array(['Ventilated Disc', 'Disc', 'Disc ', ' Disc', 'Disc & Caliper Type',
       'Ventilated discs', 'Ventilated Discs', 'Ventilated Disc ',
       'ventilated Disc', 'Multilateral Disc', 'Solid Disc', 'Disk',
       'Drum', 'Electric Parking Brake', 'Ventilated DIsc',
       ' Ventilated Disc', 'Caliper Ventilated Disc', 'Vantilated Disc',
       'Ventilated Disk', 'Ventillated Disc', 'Disc brakes',
       'Mechanical-hydraulic dual circuit', 'disc', 'ABS',
       'Ventlated Disc', 'Disc,internally ventilated ',
       'Vacuum assisted hydraulic dual circuit w', 'Ventilated disc'],
      dtype=object)

In [ ]:
df6['Steering_Type']=df6['Steering_Type'].str.replace('power','Power').str.replace('electric','Electric' )

In [ ]:
df6['Front_Brake_Type']=df6['Front_Brake_Type'].str.replace(' Disc','Disc').str.replace('Disc ','Disc').str.replace('disc','Disc').str.replace('Disk','Disc')

In [ ]:
df6['Front_Brake_Type']=df6['Front_Brake_Type'].str.replace('Ventilated Disc ','Ventilated Disc').str.replace('ventilated Disc','Ventilated Disc').str.replace('Ventilated DIsc','Ventilated Disc').str.replace(' Ventilated Disc','Ventilated Disc').str.replace('Ventilated Disk','Ventilated Disc').str.replace('Ventillated Disc','Ventilated Disc').str.replace('Ventlated Disc','Ventilated Disc').str.replace('Ventilated disc','Ventilated Disc').str.replace('Vantilated Disc','Ventilated Disc').str.replace('Ventilated Discs','Ventilated Disc').str.replace('Ventilated discs','Ventilated Disc')
df6['Front_Brake_Type']=df6['Front_Brake_Type'].str.replace('VentilatedDiscs','Ventilated Disc').str.replace('Ventilated Discs','Ventilated Disc').str.replace('ventilatedDisc','Ventilated Disc').str.replace(' VentilatedDisc','Ventilated Disc').str.replace('VantilatedDisc','Ventilated Disc').str.replace('VentillatedDisc','Ventilated Disc').str.replace('VentlatedDisc','Ventilated Disc').str.replace('VentilatedDisc','Ventilated Disc')

In [285]:
df6['Front_Brake_Type'].unique()

array(['Ventilated Disc', 'Disc', 'Disc& Caliper Type',
       'MultilateralDisc', 'SolidDisc', 'Drum', 'Electric Parking Brake',
       'CaliperVentilated Disc', 'Discbrakes',
       'Mechanical-hydraulic dual circuit', 'ABS',
       'Disc,internally ventilated ',
       'Vacuum assisted hydraulic dual circuit w'], dtype=object)

In [286]:
df6['Rear_Brake_Type'].unique()

array(['Drum', 'Solid Disc', 'Discs', 'Disc & Caliper Type', 'Disc',
       'Ventilated discs', 'Ventilated Disc', 'Leading-Trailing Drum',
       'ventilated disc', 'self adjusting drums', 'Self Adjusting Drum',
       'Self-Adjusting Drum', 'Ventilated Discs',
       'Electric Parking Brake', 'Solid Disc ', 'Drums', 'Drum ',
       'Self Adjusting Drums', 'Disc & Drum',
       'Mechanical-hydraulic dual circuit', 'disc', 'Ventilated Drum',
       'Ventilated Disc ', 'Vacuum assisted hydraulic dual circuit w',
       'Drum in Discs', 'Drum in disc', 'Ventialte Disc', 'Disc '],
      dtype=object)

In [ ]:
df6['Rear_Brake_Type']=df6['Rear_Brake_Type'].str.replace("Ventilated discs","Ventilated Disc").str.replace("ventilated disc","Ventilated Disc").str.replace("Ventilated Discs","Ventilated Disc").str.replace("Ventilated Disc ","Ventilated Disc").str.replace("Ventialte Disc","Ventilated Disc")

In [ ]:
df6['Rear_Brake_Type']=df6['Rear_Brake_Type'].str.replace('Discs','Disc').str.replace('disc','Disc').str.replace('Disc ','Disc')

In [ ]:
df6['Rear_Brake_Type']=df6['Rear_Brake_Type'].str.replace('Drums','Drum').str.replace('Drum ','Drum')

In [ ]:
df6['Rear_Brake_Type']=df6['Rear_Brake_Type'].str.replace('Solid Disc ','Solid Disc')

In [ ]:
df6['Rear_Brake_Type']=df6['Rear_Brake_Type'].str.replace('self adjusting drums', 'Self Adjusting Drum').str.replace('Self-Adjusting Drum', 'Self Adjusting Drum').str.replace('Self Adjusting Drums','Self Adjusting Drum')

In [ ]:
df6['Rear_Brake_Type']=df6['Rear_Brake_Type'].str.replace('Drum in Discs','Drum  in disc')

In [293]:
df6['Rear_Brake_Type'].unique()

array(['Drum', 'Solid Disc', 'Disc', 'Disc& Caliper Type',
       'Ventilated Disc', 'Leading-Trailing Drum', 'Self Adjusting Drum',
       'Electric Parking Brake', 'Disc& Drum',
       'Mechanical-hydraulic dual circuit', 'Ventilated Drum',
       'Vacuum assisted hydraulic dual circuit w', 'Drumin Disc'],
      dtype=object)

In [294]:
df6['Tyre_Type'].unique()

array(['Tubeless, Radial', 'Tubeless,Radial', 'Tubeless',
       'Radial, Tubless', 'Tubeless,Radial ', 'Tubeless Radial Tyres',
       'Tubeless Tyres', 'Tubeless,Runflat', 'Runflat Tyres', 'Run-Flat',
       'Tubless, Radial', 'Runflat Tyre', 'Radial,Tubeless',
       'Tubeless, Runflat', 'Radial', 'Tubeless Tyres, Radial',
       'Radial, Tubeless', 'Runflat', 'Tubeless,Radials',
       'Tubeless. Runflat', 'Radial with tube', 'Tubless,Radial',
       'Radial Tubeless', 'Tubeless Radial', 'tubeless tyre',
       'Tubeless Tyre', 'Tubeless Tyres Mud Terrain', 'Tubeless ',
       'Radial ', 'Radial Tyres', 'Tubeless Tyres All Terrain',
       'Tubeless Radials Tyre'], dtype=object)

In [ ]:
df6['Tyre_Type']=df6['Tyre_Type'].str.replace('Runflat Tyres','Runflat').str.replace('Run-Flat','Runflat').str.replace('Runflat Tyre','Runflat')

In [ ]:
df6['Tyre_Type']=df6['Tyre_Type'].str.replace('Tubeless, Runflat','Tubeless,Runflat').str.replace('Tubeless. Runflat','Tubeless,Runflat')

In [ ]:
df6['Tyre_Type']=df6['Tyre_Type'].str.replace('Radial ','Radial').str.replace('Radial Tyres','Radial').str.replace('RadialTyres','Radial').str.replace('Radials Tyre','Radial')

In [ ]:
df6['Tyre_Type']=df6['Tyre_Type'].str.replace('Tubeless Tyres','Tubeless').str.replace('tubeless tyre','Tubeless').str.replace('Tubeless Tyre','Tubeless').str.replace('Tubeless ','Tubeless')

In [ ]:
df6['Tyre_Type']=df6['Tyre_Type'].str.replace('Tubeless, Radial', 'Tubeless,Radial').str.replace('Tubeless,Radial ', 'Tubeless,Radial').str.replace('Tubless, Radial', 'Tubeless,Radial').str.replace('Tubeless,Radials', 'Tubeless,Radial').str.replace('Tubeless Radial', 'Tubeless,Radial').str.replace('Radial, Tubless', 'Tubeless,Radial').str.replace('Tubeless Radial Tyres', 'Tubeless,Radial').str.replace('Radial,Tubeless', 'Tubeless,Radial').str.replace('Radial, Tubeless', 'Tubeless,Radial').str.replace('Radial Tubeless', 'Tubeless,Radial').str.replace('Tubeless Radials Tyre', 'Tubeless,Radial').str.replace('Tubeless,RadialTyres','Tubeless,Radial').str.replace('Tubeless Tyres, Radial','Tubeless,Radial').str.replace('Tubless,Radial','Tubeless,Radial').str.replace('Tubeless,Radial Tyre','Tubeless,Radial').str.replace('Tubeless,RadialTyre','Tubeless,Radial').str.replace('Radialwith tube','Tubeless,Radial').str.replace('Radial with tube','Tubeless,Radial').str.replace('RadialTubeless','Tubeless,Radial').str.replace('Radialwith tube','Tubeless,Radial').str.replace('TubelessRadial','Tubeless,Radial')

In [300]:
df6['Tyre_Type'].unique()

array(['Tubeless,Radial', 'Tubeless', 'Tubeless,Runflat', 'Runflat',
       'Radial', 'TubelessMud Terrain', 'TubelessAll Terrain'],
      dtype=object)

In [301]:
df6['Turbo_Charger'].unique()

array(['No', 'Yes', 'NO', 'Twin', 'no', 'yes'], dtype=object)

In [ ]:
df6['Turbo_Charger']=df6['Turbo_Charger'].str.replace('no','No').str.replace('NO','No').str.replace('yes','Yes')

In [303]:
df6['Turbo_Charger'].unique()

array(['No', 'Yes', 'Twin'], dtype=object)

In [304]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7047 entries, 0 to 8368
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Body_type                7047 non-null   object
 1   Kms_Driven               7047 non-null   int64
 2   oem                      7047 non-null   object
 3   model                    7047 non-null   object
 4   Year_of_Manufacture      7047 non-null   int64
 5   centralVariantId         7047 non-null   int64
 6   variantName              7047 non-null   object
 7   price                    7047 non-null   float64
 8   Registration_Year        7047 non-null   object
 9   Insurance_Validity       7047 non-null   object
 10  Fuel_Type                7047 non-null   object
 11  Seats                    7047 non-null   object
 12  RTO                      7047 non-null   object
 13  Ownership                7047 non-null   object
 14  Engine_Displacement(cc)  7047 non-null   float64
 15  Transmission             7047 non-null   object
 16  top                      7047 non-null   object
 17  comfort                  7047 non-null   object
 18  interior                 7047 non-null   object
 19  exterior                 7047 non-null   object
 20  safety                   7047 non-null   object
 21  commonIcon               7047 non-null   object
 22  Mileage                  7047 non-null   float64
 23  Color                    7047 non-null   object
 24  Engine_Type              7047 non-null   object
 25  No_of_Cylinder           7047 non-null   float64
 26  Values_per_Cylinder      7047 non-null   float64
 27  Turbo_Charger            7047 non-null   object
 28  Length                   7047 non-null   float64
 29  Width                    7047 non-null   float64
 30  Height                   7047 non-null   float64
 31  Wheel_Base               7047 non-null   int64
 32  Kerb_Weight              7041 non-null   float64
 33  Gear_Box                 7047 non-null   object
 34  Steering_Type            7047 non-null   object
 35  Front_Brake_Type         7047 non-null   object
 36  Rear_Brake_Type          7047 non-null   object
 37  Tyre_Type                7047 non-null   object
 38  No_Door_Numbers          7047 non-null   int64
 39  Car_link                 7047 non-null   object
 40  City                     7047 non-null   object
 41  Torque_nm                7047 non-null   float64
 42  Torque_rpm               6979 non-null   float64
 43  Power_bhp                7047 non-null   float64
 44  Power_rpm                7021 non-null   float64
dtypes: float64(13), int64(5), object(27)
memory usage: 2.5+ MB

In [305]:
df6.describe()

,Kms_Driven,Year_of_Manufacture,centralVariantId,price,Engine_Displacement(cc),Mileage,No_of_Cylinder,Values_per_Cylinder,Length,Width,Height,Wheel_Base,Kerb_Weight,No_Door_Numbers,Torque_nm,Torque_rpm,Power_bhp,Power_rpm
count,7.047000e+03,7047.000000,7047.000000,7.047000e+03,7047.000000,7047.000000,7047.000000,7047.000000,7047.000000,7047.000000,7047.000000,7047.000000,7041.000000,7047.000000,7047.000000,6979.000000,7047.000000,7021.000000
mean,6.188587e+04,2016.186462,4437.810132,9.169673e+05,1448.141867,19.159219,3.822620,3.924933,4117.794664,1734.022705,1569.340003,2552.704555,1203.067178,4.669789,183.331435,3260.826766,225.554294,5192.578692
std,7.792952e+04,3.591807,2495.181581,1.160472e+06,470.930740,4.023274,0.590428,0.858519,394.936025,128.162443,108.249664,152.912868,343.526729,0.490702,109.201502,1015.020139,10049.895593,1235.760711
min,0.000000e+00,2002.000000,5.000000,2.016100e+04,72.000000,7.500000,2.000000,2.000000,3099.000000,1410.000000,1288.000000,1840.000000,600.000000,2.000000,7.800000,1000.000000,25.400000,2000.000000
25%,3.500000e+04,2014.000000,1828.500000,3.910000e+05,1197.000000,17.000000,4.000000,4.000000,3805.000000,1680.000000,1495.000000,2430.000000,950.000000,4.000000,111.800000,2200.000000,78.900000,4000.000000
50%,5.767100e+04,2017.000000,4309.000000,6.000000e+05,1248.000000,18.900000,4.000000,4.000000,3995.000000,1730.000000,1530.000000,2520.000000,1105.000000,5.000000,145.000000,3500.000000,88.700000,5500.000000
75%,8.000000e+04,2019.000000,6482.000000,9.255000e+05,1582.000000,21.210000,4.000000,4.000000,4440.000000,1790.000000,1640.000000,2636.000000,1340.000000,5.000000,221.000000,4000.000000,120.690000,6000.000000
max,5.500000e+06,2023.000000,11098.000000,2.600000e+07,5000.000000,140.000000,23.000000,69.000000,5453.000000,2220.000000,1995.000000,3365.000000,2962.000000,6.000000,800.000000,6500.000000,843750.000000,61000.000000

**Normalizing Numerical Features**

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df6[['Kerb_Weight']]=scaler.fit_transform(df6[['Kerb_Weight']])

In [307]:
df6['Kerb_Weight'].head()

0    0.099492
1    0.271804
2    0.174428
3    0.245555
4    0.266723
Name: Kerb_Weight, dtype: float64

In [ ]:
temp=df6['Kerb_Weight'].mean()
df6.Kerb_Weight.fillna(temp,inplace=True)

In [ ]:
temp=df6['Torque_rpm'].mean()
df6.Torque_rpm.fillna(temp,inplace=True)

In [ ]:
temp=df6['Power_rpm'].mean()
df6.Power_rpm.fillna(temp,inplace=True)

**Removing outliers**

In [311]:

# IQR Method for removing outliers
Q1 = df6['price'].quantile(0.25)
Q3 = df6['price'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Removing outliers
df_cleaned = df6[(df6['price'] >= lower_bound) & (df6['price'] <= upper_bound)]

df_cleaned

,Body_type,Kms_Driven,oem,model,Year_of_Manufacture,centralVariantId,variantName,price,Registration_Year,Insurance_Validity,...,Front_Brake_Type,Rear_Brake_Type,Tyre_Type,No_Door_Numbers,Car_link,City,Torque_nm,Torque_rpm,Power_bhp,Power_rpm
0,Hatchback,120000,Maruti,Maruti Celerio,2015,3979,VXI,400000.0,2015,Third Party insurance,...,Ventilated Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Bangalore,90.00,3500.0,67.04,6000.0
1,SUV,32706,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,811000.0,2018,Comprehensive,...,Ventilated Disc,Drum,"Tubeless,Radial",4,https://www.cardekho.com/buy-used-car-details/...,Bangalore,150.00,4500.0,121.31,6500.0
2,Hatchback,11949,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,585000.0,2018,Comprehensive,...,Disc,Drum,Tubeless,5,https://www.cardekho.com/used-car-details/used...,Bangalore,114.00,3500.0,84.00,6000.0
3,Sedan,17794,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,462000.0,2014,Comprehensive,...,Disc,Drum,"Tubeless,Radial",4,https://www.cardekho.com/buy-used-car-details/...,Bangalore,113.75,4000.0,81.86,6000.0
4,SUV,60000,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,790000.0,2015,Third Party insurance,...,Ventilated Disc,Solid Disc,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Bangalore,200.00,1750.0,88.50,4000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8359,MUV,70000,Maruti,Maruti Ertiga,2013,4050,VDI,650000.0,2013,Third Party insurance,...,Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,200.00,1750.0,88.76,4000.0
8363,SUV,60000,Mahindra,Mahindra XUV500,2013,3823,W8 2WD,700000.0,2013,Third Party insurance,...,Disc& Caliper Type,Disc& Caliper Type,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,330.00,2200.0,140.00,3750.0
8364,SUV,60000,Mahindra,Mahindra XUV500,2013,3823,W8 2WD,700000.0,2013,Third Party insurance,...,Disc& Caliper Type,Disc& Caliper Type,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,330.00,2200.0,140.00,3750.0
8367,SUV,50000,Tata,Tata Nexon,2019,6500,1.5 Revotorq XMA,850000.0,2019,Third Party insurance,...,Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,260.00,2125.0,108.50,3750.0
8368,MUV,100000,Toyota,Toyota Innova,2015,2294,2.5 ZX Diesel 7 Seater,1500000.0,2015,Third Party insurance,...,Ventilated Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,200.00,2400.0,100.60,3600.0

In [312]:
# IQR Method for removing outliers
Q4 = df_cleaned['Mileage'].quantile(0.25)
Q5 = df_cleaned['Mileage'].quantile(0.75)
IQR = Q5 - Q4

lower_bound = Q4 - 1.5 * IQR
upper_bound = Q5 + 1.5 * IQR

# Removing outliers
df_cleaned1= df_cleaned[(df_cleaned['Mileage'] >= lower_bound) & (df_cleaned['Mileage'] <= upper_bound)]

In [313]:
df_cleaned1

,Body_type,Kms_Driven,oem,model,Year_of_Manufacture,centralVariantId,variantName,price,Registration_Year,Insurance_Validity,...,Front_Brake_Type,Rear_Brake_Type,Tyre_Type,No_Door_Numbers,Car_link,City,Torque_nm,Torque_rpm,Power_bhp,Power_rpm
0,Hatchback,120000,Maruti,Maruti Celerio,2015,3979,VXI,400000.0,2015,Third Party insurance,...,Ventilated Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Bangalore,90.00,3500.0,67.04,6000.0
1,SUV,32706,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,811000.0,2018,Comprehensive,...,Ventilated Disc,Drum,"Tubeless,Radial",4,https://www.cardekho.com/buy-used-car-details/...,Bangalore,150.00,4500.0,121.31,6500.0
2,Hatchback,11949,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,585000.0,2018,Comprehensive,...,Disc,Drum,Tubeless,5,https://www.cardekho.com/used-car-details/used...,Bangalore,114.00,3500.0,84.00,6000.0
3,Sedan,17794,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,462000.0,2014,Comprehensive,...,Disc,Drum,"Tubeless,Radial",4,https://www.cardekho.com/buy-used-car-details/...,Bangalore,113.75,4000.0,81.86,6000.0
4,SUV,60000,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,790000.0,2015,Third Party insurance,...,Ventilated Disc,Solid Disc,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Bangalore,200.00,1750.0,88.50,4000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8359,MUV,70000,Maruti,Maruti Ertiga,2013,4050,VDI,650000.0,2013,Third Party insurance,...,Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,200.00,1750.0,88.76,4000.0
8363,SUV,60000,Mahindra,Mahindra XUV500,2013,3823,W8 2WD,700000.0,2013,Third Party insurance,...,Disc& Caliper Type,Disc& Caliper Type,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,330.00,2200.0,140.00,3750.0
8364,SUV,60000,Mahindra,Mahindra XUV500,2013,3823,W8 2WD,700000.0,2013,Third Party insurance,...,Disc& Caliper Type,Disc& Caliper Type,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,330.00,2200.0,140.00,3750.0
8367,SUV,50000,Tata,Tata Nexon,2019,6500,1.5 Revotorq XMA,850000.0,2019,Third Party insurance,...,Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,260.00,2125.0,108.50,3750.0
8368,MUV,100000,Toyota,Toyota Innova,2015,2294,2.5 ZX Diesel 7 Seater,1500000.0,2015,Third Party insurance,...,Ventilated Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,200.00,2400.0,100.60,3600.0

In [314]:
# IQR Method for removing outliers
Q5 = df_cleaned1['Kms_Driven'].quantile(0.25)
Q6 = df_cleaned1['Kms_Driven'].quantile(0.75)
IQR = Q6 - Q5

lower_bound = Q5 - 1.5 * IQR
upper_bound = Q6 + 1.5 * IQR

# Removing outliers
df_cleaned2= df_cleaned1[(df_cleaned1['Kms_Driven'] >= lower_bound) & (df_cleaned1['Kms_Driven'] <= upper_bound)]
df_cleaned2

,Body_type,Kms_Driven,oem,model,Year_of_Manufacture,centralVariantId,variantName,price,Registration_Year,Insurance_Validity,...,Front_Brake_Type,Rear_Brake_Type,Tyre_Type,No_Door_Numbers,Car_link,City,Torque_nm,Torque_rpm,Power_bhp,Power_rpm
0,Hatchback,120000,Maruti,Maruti Celerio,2015,3979,VXI,400000.0,2015,Third Party insurance,...,Ventilated Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Bangalore,90.00,3500.0,67.04,6000.0
1,SUV,32706,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,811000.0,2018,Comprehensive,...,Ventilated Disc,Drum,"Tubeless,Radial",4,https://www.cardekho.com/buy-used-car-details/...,Bangalore,150.00,4500.0,121.31,6500.0
2,Hatchback,11949,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,585000.0,2018,Comprehensive,...,Disc,Drum,Tubeless,5,https://www.cardekho.com/used-car-details/used...,Bangalore,114.00,3500.0,84.00,6000.0
3,Sedan,17794,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,462000.0,2014,Comprehensive,...,Disc,Drum,"Tubeless,Radial",4,https://www.cardekho.com/buy-used-car-details/...,Bangalore,113.75,4000.0,81.86,6000.0
4,SUV,60000,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,790000.0,2015,Third Party insurance,...,Ventilated Disc,Solid Disc,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Bangalore,200.00,1750.0,88.50,4000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8359,MUV,70000,Maruti,Maruti Ertiga,2013,4050,VDI,650000.0,2013,Third Party insurance,...,Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,200.00,1750.0,88.76,4000.0
8363,SUV,60000,Mahindra,Mahindra XUV500,2013,3823,W8 2WD,700000.0,2013,Third Party insurance,...,Disc& Caliper Type,Disc& Caliper Type,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,330.00,2200.0,140.00,3750.0
8364,SUV,60000,Mahindra,Mahindra XUV500,2013,3823,W8 2WD,700000.0,2013,Third Party insurance,...,Disc& Caliper Type,Disc& Caliper Type,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,330.00,2200.0,140.00,3750.0
8367,SUV,50000,Tata,Tata Nexon,2019,6500,1.5 Revotorq XMA,850000.0,2019,Third Party insurance,...,Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,260.00,2125.0,108.50,3750.0
8368,MUV,100000,Toyota,Toyota Innova,2015,2294,2.5 ZX Diesel 7 Seater,1500000.0,2015,Third Party insurance,...,Ventilated Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,200.00,2400.0,100.60,3600.0

In [315]:
df_cleaned2.reset_index(drop=True)

,Body_type,Kms_Driven,oem,model,Year_of_Manufacture,centralVariantId,variantName,price,Registration_Year,Insurance_Validity,...,Front_Brake_Type,Rear_Brake_Type,Tyre_Type,No_Door_Numbers,Car_link,City,Torque_nm,Torque_rpm,Power_bhp,Power_rpm
0,Hatchback,120000,Maruti,Maruti Celerio,2015,3979,VXI,400000.0,2015,Third Party insurance,...,Ventilated Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Bangalore,90.00,3500.0,67.04,6000.0
1,SUV,32706,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,811000.0,2018,Comprehensive,...,Ventilated Disc,Drum,"Tubeless,Radial",4,https://www.cardekho.com/buy-used-car-details/...,Bangalore,150.00,4500.0,121.31,6500.0
2,Hatchback,11949,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,585000.0,2018,Comprehensive,...,Disc,Drum,Tubeless,5,https://www.cardekho.com/used-car-details/used...,Bangalore,114.00,3500.0,84.00,6000.0
3,Sedan,17794,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,462000.0,2014,Comprehensive,...,Disc,Drum,"Tubeless,Radial",4,https://www.cardekho.com/buy-used-car-details/...,Bangalore,113.75,4000.0,81.86,6000.0
4,SUV,60000,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,790000.0,2015,Third Party insurance,...,Ventilated Disc,Solid Disc,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Bangalore,200.00,1750.0,88.50,4000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6015,MUV,70000,Maruti,Maruti Ertiga,2013,4050,VDI,650000.0,2013,Third Party insurance,...,Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,200.00,1750.0,88.76,4000.0
6016,SUV,60000,Mahindra,Mahindra XUV500,2013,3823,W8 2WD,700000.0,2013,Third Party insurance,...,Disc& Caliper Type,Disc& Caliper Type,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,330.00,2200.0,140.00,3750.0
6017,SUV,60000,Mahindra,Mahindra XUV500,2013,3823,W8 2WD,700000.0,2013,Third Party insurance,...,Disc& Caliper Type,Disc& Caliper Type,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,330.00,2200.0,140.00,3750.0
6018,SUV,50000,Tata,Tata Nexon,2019,6500,1.5 Revotorq XMA,850000.0,2019,Third Party insurance,...,Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,260.00,2125.0,108.50,3750.0
6019,MUV,100000,Toyota,Toyota Innova,2015,2294,2.5 ZX Diesel 7 Seater,1500000.0,2015,Third Party insurance,...,Ventilated Disc,Drum,"Tubeless,Radial",5,https://www.cardekho.com/used-car-details/used...,Hyderabad,200.00,2400.0,100.60,3600.0

In [316]:
df_cleaned2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6020 entries, 0 to 8368
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Body_type                6020 non-null   object
 1   Kms_Driven               6020 non-null   int64
 2   oem                      6020 non-null   object
 3   model                    6020 non-null   object
 4   Year_of_Manufacture      6020 non-null   int64
 5   centralVariantId         6020 non-null   int64
 6   variantName              6020 non-null   object
 7   price                    6020 non-null   float64
 8   Registration_Year        6020 non-null   object
 9   Insurance_Validity       6020 non-null   object
 10  Fuel_Type                6020 non-null   object
 11  Seats                    6020 non-null   object
 12  RTO                      6020 non-null   object
 13  Ownership                6020 non-null   object
 14  Engine_Displacement(cc)  6020 non-null   float64
 15  Transmission             6020 non-null   object
 16  top                      6020 non-null   object
 17  comfort                  6020 non-null   object
 18  interior                 6020 non-null   object
 19  exterior                 6020 non-null   object
 20  safety                   6020 non-null   object
 21  commonIcon               6020 non-null   object
 22  Mileage                  6020 non-null   float64
 23  Color                    6020 non-null   object
 24  Engine_Type              6020 non-null   object
 25  No_of_Cylinder           6020 non-null   float64
 26  Values_per_Cylinder      6020 non-null   float64
 27  Turbo_Charger            6020 non-null   object
 28  Length                   6020 non-null   float64
 29  Width                    6020 non-null   float64
 30  Height                   6020 non-null   float64
 31  Wheel_Base               6020 non-null   int64
 32  Kerb_Weight              6020 non-null   float64
 33  Gear_Box                 6020 non-null   object
 34  Steering_Type            6020 non-null   object
 35  Front_Brake_Type         6020 non-null   object
 36  Rear_Brake_Type          6020 non-null   object
 37  Tyre_Type                6020 non-null   object
 38  No_Door_Numbers          6020 non-null   int64
 39  Car_link                 6020 non-null   object
 40  City                     6020 non-null   object
 41  Torque_nm                6020 non-null   float64
 42  Torque_rpm               6020 non-null   float64
 43  Power_bhp                6020 non-null   float64
 44  Power_rpm                6020 non-null   float64
dtypes: float64(13), int64(5), object(27)
memory usage: 2.1+ MB

In [317]:
df_cleaned2.to_csv('car_cleaned.csv',index=False)